[Unit]
Description=disk scrub
OnFailure=failure-notification@%i.service

[Service]
Type=oneshot
{% for disk in disks -%}
ExecStart=/usr/sbin/smartctl -t short -q errorsonly /dev/disk/by-id/{{ disk }}
{% endfor %}
{% for pool in pools -%}
ExecStart=/usr/sbin/zpool scrub {{ pool }}
{% endfor %}
